<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <h1>
    Welcome to {{ treeMsg }}!
  </h1>
  ***MAGAIN BE WAY****
<app-employee-list></app-employee-list>
===AGAIN MAY BE 0 RIGHT WAY============================================
<app-wood (woodEvent)='treeMsg=$event' [oneParentData]='tree'></app-wood>
<br>
WOODSPRING
<app-employee-detail></app-employee-detail>
===AGAIN MAY BE 1 RIGHT WAY============================================
<br>
  <app-crest></app-crest>
  RBC
  <app-hill></app-hill>
  CANADA
  <app-kingslake>123456</app-kingslake>
</div>


